<form class="form-inline" role="search">
    <div class="input-group">
            <div uib-dropdown class="dropdown input-group-prepend" uib-tooltip="{{$ctrl.tooltip}}" tooltip-trigger="mouseenter" tooltip-placement="bottom">
                <button id="search-dropdown" uib-dropdown-toggle class="btn btn-outline-dark dropdown-toggle btn-sm" type="button">
                    <span class="fas fa-search" aria-hidden="true"></span>
                </button>
                <div class="dropdown-menu" uib-dropdown-menu aria-labelledby="search-dropdown" role="menu">
                    <a href class="dropdown-item" class="dropdown-item" ng-if="$ctrl.constraintsValues[constraintTypeKey]" ng-repeat="constraintTypeKey in $ctrl.constraintsCapabilitiesValues" ng-click="$ctrl.onSearch(constraintTypeKey, $ctrl.constraint, $ctrl.filter)">
                        <span class="far fa-check-square" aria-hidden="true" ng-if="$ctrl.constraintType == constraintTypeKey"></span>
                        <span class="far fa-square" aria-hidden="true" ng-if="$ctrl.constraintType != constraintTypeKey"></span> {{$ctrl.constraintsValues[constraintTypeKey]}}
                    </a>
                </div>
            </div>
        <input type="text" class="form-control form-control-sm border border-right-0 border-dark" id="#navbar-search" placeholder="{{$ctrl.placeholderSearch}}" ng-model="$ctrl.constraint" />
        <div class="input-group-append">
            <button class="btn btn-outline-dark btn-sm d-none" type="submit" ng-click="$ctrl.onSearch($ctrl.constraintType, $ctrl.constraint, $ctrl.filter)">
                <span class="fas fa-check" aria-hidden="true"></span>
            </button>
            <button class="btn btn-outline-dark btn-sm" type="submit" ng-click="$ctrl.clearSearch('constraint')">
                <span class="fas fa-times" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="mx-3" ng-show="$ctrl.constraintType != ''">
        <small class="text-muted">
            <em>
                ({{$ctrl.constraintsValues[$ctrl.constraintType]}})
            </em>
        </small>
    </div>
    <div class="btn-group-toggle btn-group btn-group-sm" data-toggle="buttons">
        <label ng-repeat="(keyFilter, valueFilter) in $ctrl.filters track by $index" class="btn btn-outline-{{valueFilter.color}} py-0" ng-class="{'active': $ctrl.isFilter[keyFilter]}">
            <input type="checkbox" autocomplete="off" ng-click="$ctrl.changeFilter(keyFilter)"> <small class="font-weight-bold">{{keyFilter | uppercase}}</small>
        </label>
    </div>
</form>