<div class="card" ng-if="$ctrl.tpl == 'grid'">
    <img ng-repeat="dataBrowseGraphic in $ctrl.md | getValue:'getRecords':'dataBrowseGraphics|srvBrowseGraphics' | limitTo:1 track by $index" ng-src="{{dataBrowseGraphic | getValue:'getRecords':'browseGraphicFileName' | toString}}" alt="{{dataBrowseGraphic | getValue:'getRecords':'browseGraphicFileDescription' | toString}}" class="card-img-top" />
    <div class="card-body">
        <a class="card-title font-weight-bold" popover-trigger="'mouseenter'" uib-popover-template="'csw-card-popover.html'"
            popover-placement="auto" ng-click="$ctrl.viewMd(($ctrl.md | getValue:'getRecords':'mdFileIdentifier' | toString), ($ctrl.md | getValue:'getRecords':'mdHierarchyLevel' | toString), ($ctrl.md | getValue:'getRecords':'dataKeywords.keywords|srvKeywords.keywords'))">
                {{$ctrl.md | getValue:'getRecords':'dataTitle|srvTitle' | toString | truncate:120:true }}
        </a>
        <p class="card-text"><small>{{$ctrl.md | getValue:'getRecords':'dataAbstract|srvAbstract' | toString | truncate:210:true }}</small></p>
    </div>
    <div class="card-footer">
        <div class="float-right text-light">
            <a title="{{$ctrl.locales.opendata}}" class="badge badge-success mr-1 p-1" ng-if="$ctrl.md | getValue:'getRecords':'dataKeywords.keywords' | arrayContains:'données ouvertes':'contains'" ng-click="$ctrl.clickBadge(undefined, undefined, 'opendata')">{{$ctrl.locales.opendata}}</a>
            <a title="{{$ctrl.locales.wfs}}" class="badge badge-warning mr-1 p-1" ng-if="$ctrl.md | getValue:'getRecords':'dataLinkages.protocol' | arrayContains:'wfs':'contains'" ng-click="$ctrl.clickBadge(undefined, undefined, 'wfs')">{{$ctrl.locales.wfs}}</a>
            <a title="{{$ctrl.locales.wms}}" class="badge badge-primary mr-1 p-1" ng-if="$ctrl.md | getValue:'getRecords':'dataLinkages.protocol' | arrayContains:'wms':'contains'" ng-click="$ctrl.clickBadge(undefined, undefined, 'wms')">{{$ctrl.locales.wms}}</a>
        </div>
    </div>
    <script type="text/ng-template" id="csw-card-popover.html">
            <div>
                <strong>{{$ctrl.locales.title}}:</strong> {{$ctrl.md | getValue:'getRecords':'dataTitle|srvTitle' | toString }}
            </div>
            <div>
                <strong>{{$ctrl.locales.abstract}}:</strong>
                {{$ctrl.md | getValue:'getRecords':'dataAbstract|srvAbstract' | toString | truncate:300:true }}
            </div>
            <div>
                <strong>{{$ctrl.locales.keywords}}:</strong>
                <span ng-repeat="keywords in $ctrl.md | getValue:'getRecords':'dataKeywords|srvKeywords' track by $index">
                    {{keywords | getValue:'getRecords':'keywords' | toString:', '}}
                </span>
                <span>
                    {{$ctrl.md | getValue:'getRecords':'dataTopicCategories.topicCategory|srvTopicCategories.topicCategory' |
                    translate:$ctrl.topicCategories | toString}}
                </span>
            </div>
    </script>
</div>

<!-- --------------------------------------------------------------------------------------------------- -->
<div ng-if="$ctrl.tpl == 'list'" class="row my-3 mx-1 pb-3 border-bottom border-light">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-2">
        <img class="rounded img-fluid" ng-repeat="dataBrowseGraphic in $ctrl.md | getValue:'getRecords':'dataBrowseGraphics|srvBrowseGraphics' | limitTo:1 track by $index" ng-src="{{dataBrowseGraphic | getValue:'getRecords':'browseGraphicFileName' | toString}}" alt="{{dataBrowseGraphic | getValue:'getRecords':'browseGraphicFileDescription' | toString}}" />
    </div>
    <div class="col-lg-10 col-md-9 col-sm-8 col-xs-10">
        <h5 class="">
            <a ng-click="$ctrl.viewMd(($ctrl.md | getValue:'getRecords':'mdFileIdentifier' | toString), ($ctrl.md | getValue:'getRecords':'mdHierarchyLevel' | toString), ($ctrl.md | getValue:'getRecords':'dataKeywords.keywords|srvKeywords.keywords'))">
                {{$ctrl.md | getValue:'getRecords':'dataTitle|srvTitle' | toString | truncate:120:true }}
            </a>
        </h5>
        <p>{{$ctrl.md | getValue:'getRecords':'dataAbstract|srvAbstract' | toString | truncate:300:true }}</p>
        <div class="float-left">
            <div class="badge badge-warning mr-1 p-1 text-light" ng-repeat="keyword in $ctrl.md | getValue:'getRecords':'dataKeywords.keywords|srvKeywords.keywords' track by $index">
                {{keyword}}
            </div>
            <div class="badge badge-info mr-1 p-1 text-light" ng-repeat="topicCategory in $ctrl.md | getValue:'getRecords':'dataTopicCategories.topicCategory|srvTopicCategories.topicCategory' | translate:$ctrl.topicCategories track by $index"
                ng-if="(topicCategory | toString) != ''">
                {{topicCategory | toString}}
            </div>
        </div>
        <div class="float-right text-light">
            <a title="{{$ctrl.locales.opendata}}" class="badge badge-success mr-1 p-1" ng-if="$ctrl.md | getValue:'getRecords':'dataKeywords.keywords' | arrayContains:'données ouvertes':'contains'" ng-click="$ctrl.clickBadge(undefined, undefined, 'opendata')">{{$ctrl.locales.opendata}}</a>
            <a title="{{$ctrl.locales.wfs}}" class="badge badge-warning mr-1 p-1" ng-if="$ctrl.md | getValue:'getRecords':'dataLinkages.protocol' | arrayContains:'wfs':'contains'" ng-click="$ctrl.clickBadge(undefined, undefined, 'wfs')">{{$ctrl.locales.wfs}}</a>
            <a title="{{$ctrl.locales.wms}}" class="badge badge-primary mr-1 p-1" ng-if="$ctrl.md | getValue:'getRecords':'dataLinkages.protocol' | arrayContains:'wms':'contains'" ng-click="$ctrl.clickBadge(undefined, undefined, 'wms')">{{$ctrl.locales.wms}}</a>
        </div>
    </div>
</div>